@import url("https://fonts.cdnfonts.com/css/druk-wide-bold");

@layer base {
	@font-face {
		font-family: "GothamProMedium";
		src: url("/fonts/GothamPro/GothamProMedium/GothamProMedium.eot");
		src: url("/fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"),
			url("/fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
			url("/fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
}

@layer base {
	@font-face {
		font-family: "GothamProRegular";
		src: url("/fonts/GothamProRegular/GothamProRegular.eot");
		src: url("/fonts/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"),
			url("/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
			url("/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		font-display: swap;
	}
}

@font-face {
	font-family: "GothamProBold";
	src: url("/fonts/GothamProBold/GothamProBold.eot");
	src: url("/fonts/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"),
		url("/fonts/GothamProBold/GothamProBold.woff") format("woff"),
		url("/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	color: #222222;

	& > * {
		/* min-height: 100vh; */
	}
}

input::placeholder, textarea::placeholder {
font-size: 14px;
font-weight: 400;
line-height: 20px;
}