.customScrollbar::-webkit-scrollbar {
	width: 2px;
	height: 90%;
	margin-right: 2px;
}

.customScrollbar::-webkit-scrollbar-track {
	background: #f0f0f0;
}

.customScrollbar::-webkit-scrollbar-thumb {
	background-color: #fd84c7;
	border-radius: 20px;
}
